<html>
<body>
<h2 style="color:red"> ERROR !! </h2>
<h4> Su usuario y contraseña no se encuentra en la base de datos, intentelo de nuevo o registrese </h4>
<a href="http://localhost:8080/login">localhost:8080/login</a>
<a href="http://localhost:8080/register">localhost:8080/register</a>
</form>
</html>
</body>
