<html>
<body>
<h2 style="color:red"> ERROR !! </h2>
<h4> El usuario "<%= username %>" ya existe</h4>
  <ul>
    <li>
      <a href="http://localhost:8080/login">localhost:8080/login</a>
    </li>
    <li>
      <a href="http://localhost:8080/register">localhost:8080/register</a>
    </li>
  </ul>
</form>
</html>
</body>
