<html>
<body>
<h2> Formulario de registro </h2>
<form method="POST" action="">
<span> Usuario: </span><input name="username"> </input>
<span> Contraseña: </span><input type="password" name="password"> </input>
<button> Registrarme </button>
</form>
</html>
</body>
