<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
Visita los siguientes enlaces para ver el contenido, loguearte, cerrar sesión o registrarte:
<ul>
  <li> <a href="http://localhost:8080/content">localhost:8080/content</a> </li>
  <li> <a href="http://localhost:8080/login">localhost:8080/login</a> </li>
  <li> <a href="http://localhost:8080/logout">localhost:8080/logout</a> </li>
  <li> <a href="http://localhost:8080/register">localhost:8080/register</a> </li>
</ul>
  
Véase:
<ol>
  <li>El repo <a href="https://github.com/ULL-ESIT-PL-1617/evaluar-manejo-de-cookies-y-sessions-en-expressjs-alu0100825510" target="_blank">ULL-ESIT-PL-1617/evaluar-manejo-de-cookies-y-sessions-en-expressjs-alu0100825510</a></li>
  <li><a href="https://casianorodriguezleon.gitbooks.io/ull-esit-1617/content/apuntes/cookies/" target="_blank">Apuntes de cookies</a></li>
</ol>
</body>
</html>
